* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #fefeff;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
}

.home {  
    color: black;
    text-decoration: none;
    padding: 10rem;
    margin: 0; 
}

.logo {
    text-align: center;   
    margin: 0 auto;
}

.content {
    background-color: #faf5f5;
    display: flex;
    flex-direction: column;
    max-width: 30%;   
    font-size: .925rem;
    margin: auto;
    padding: .8rem;
    border-radius: 1rem;    
}

.name {
    text-align: center;
    text-transform: capitalize;
    margin-bottom: .25rem;
    color: #fff;
    padding: 1rem;
    margin: auto; 
}

.number {
    text-align: center;
    text-transform: capitalize;
    color: #fff;
    padding: 1rem;
    margin: auto;  
}

.types {
    text-align: center;
    margin: auto;
    list-style: none;
    padding: 0; 
}

.type {
    display: inline-block;
    filter: brightness(1.1);
    padding: 0.25rem;
    margin: 0.25rem;
    color: #fff;
    border: none;
    border-radius: 1rem;
    text-align: center;
}

.image {
    display: block;
    margin: 0 auto;
    width: 300px; 
    height: 300px;
}

.type-normal {
    background-color: #a6a877;
}

.type-grass {
    background-color: #77c850;
}

.type-fire {
    background-color: #ee7f30;
}

.type-water {
    background-color: #678fee;
}

.type-electric {
    background-color: #f7cf2e;
}

.type-ice {
    background-color: #98d5d7;
}

.type-ground {
    background-color: #dfbf69;
}

.type-flying {
    background-color: #a98ff0;
}

.type-poison {
    background-color: #a040a0;
}

.type-fighting {
    background-color: #bf3029;
}

.type-psychic {
    background-color: #f65687;
}

.type-dark {
    background-color: #725847;
}

.type-rock {
    background-color: #b8a137;
}

.type-bug {
    background-color: #a8b720;
}

.type-ghost {
    background-color: #6e5896;
}

.type-steel {
    background-color: #b9b7cf;
}

.type-dragon {
    background-color: #6f38f6;
}

.type-fairy {
    background-color: #f9aec7;
}

